{% for project in projects %}
    <div class="portfolio-modal modal fade" id="portfolioModal{{ project.id }}" tabindex="-1" role="dialog"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-bs-dismiss="modal">
                    <img src="{{ asset('images/close-icon.svg') }}" alt="Close modal"/>
                </div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="modal-body">
                                <h2 class="text-uppercase">{{ project.title|raw }}</h2>
                                <p class="item-intro text-muted">Durée de réalisation: {{ project.duration|raw }}</p>
                                <div class="wrapper">
                                    <svg>
                                        <text x="50%" y="50%" dy=".35em" text-anchor="middle">
                                            {% for technology in project.technologies %}
                                                {{ technology.name }}
                                                {% if not loop.last %}, {% endif %}
                                            {% endfor %}
                                        </text>
                                    </svg>
                                </div>
                                <img class="img-fluid d-block mx-auto"
                                     src="{{ asset('assets/uploads/portfolio/' ~ project.id ~ '.jpg') }}"
                                     alt="Portfolio{{ project.id }}"/>
                                <p>{{ project.description|raw }}</p>
                                <ul class="list-inline">
                                    <li>
                                        <strong>Client:</strong>
                                        {{ project.client|raw }}
                                    </li>
                                    <li>
                                        <strong>Auteur:</strong>
                                        {{ project.author|raw }}
                                    </li>
                                    <li>
                                        <strong>Github:</strong>
                                        <a href="{{ project.github|raw }}">{{ project.title|raw }}</a>
                                    </li>
                                </ul>
                                <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal"
                                        type="button">
                                    <i class="fas fa-xmark me-1"></i>
                                    Fermer le projet
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}