<!-- Portfolio Grid -->
<section class="page-section bg-light" id="portfolio">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Mes projets</h2>
            <h3 class="section-subheading text-muted">Voici mes projets, cliquez sur l'image pour obtenir tous les détails !</h3>
        </div>

        <!-- Boutons de filtrage -->
        <div class="text-center mb-4">
            <button class="btn btn-primary active" data-filter="all">Tous</button>
            {% for technology in allTechnologies %}
                <button class="btn btn-primary" data-filter="{{ technology.name|lower }}">{{ technology.name }}</button>
            {% endfor %}
        </div>

        <div class="row" id="portfolio-items">
            {% for project in projects %}
                <div class="col-lg-4 col-sm-6 mb-4" data-categories="{% for technology in project.technologies %}{{ technology.name|lower }} {% endfor %}">
                    <!-- Portfolio item -->
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal{{ project.id }}">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="{{ asset('assets/uploads/portfolio/' ~ project.id ~ '.jpg') }}" alt="Portfolio{{ project.id }}"/>
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">{{ project.title|raw }}</div>
                            <div class="wrapper">
                                <svg>
                                    <text x="50%" y="50%" dy=".35em" text-anchor="middle">
                                        {% for technology in project.technologies %}
                                            {{ technology.name }}
                                            {% if not loop.last %}, {% endif %}
                                        {% endfor %}
                                    </text>
                                </svg>
                            </div>
                            <div class="portfolio-caption-subheading text-muted">{{ project.intro|raw }}</div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

{#
<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Filtre les projets au chargement de la page
        filterProjects('all');

        // Ajoute un gestionnaire d'événement aux boutons de filtrage
        document.querySelectorAll('#portfolio .btn').forEach(function (btn) {
            btn.addEventListener('click', function () {
                // Retire la classe active de tous les boutons
                document.querySelectorAll('#portfolio .btn').forEach(function (btn) {
                    btn.classList.remove('active');
                });

                // Ajoute la classe active au bouton cliqué
                btn.classList.add('active');

                // Filtre les projets en fonction de la technologie sélectionnée
                filterProjects(btn.getAttribute('data-filter'));
            });
        });

        // Fonction pour filtrer les projets
        function filterProjects(category) {
            document.querySelectorAll('#portfolio-items .col-lg-4').forEach(function (item) {
                let categories = item.getAttribute('data-categories').split(' ');
                if (category === 'all' || categories.includes(category)) {
                    item.style.display = 'block';
                } else {
                    item.style.display = 'none';
                }
            });
        }
    });
</script>
#}
