<!-- Contact form -->
<section data-aos="zoom-in-up"
         data-aos-duration="3000"
         class="page-section" id="contact">
    <div class="container">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">Contactez moi</h2>
                <h3 class="section-subheading text-muted">Vous souhaitez plus d'informations sur mon profil, ou
                    commencer une collaboration ?</h3>
            </div>
            <div class="bg-white p-5 contact-form row align-items-stretch mb-5" id="contact-form">
                {{ form_start(our_form) }}
                <div class="form-group">
                    {{ form_row(our_form.fullName, {'attr': {'class': 'form-control', 'placeholder': 'Votre nom ici'}}) }}
                </div>
                <div class="form-group">
                    {{ form_row(our_form.email, {'attr': {'class': 'form-control', 'placeholder': 'Votre e-mail ici'}}) }}
                </div>
                <div class="form-group">
                    {{ form_row(our_form.message, {'attr': {'class': 'form-control', 'placeholder': 'Votre message ici'}}) }}
                </div>
                {{ form_row(our_form._token) }}
                <div class="form-group text-center">
                    <input type="submit" value="Envoyer votre message" class="btn btn-primary text-uppercase customBtn">
                </div>
                {{ form_end(our_form) }}
            </div>
        </div>
    </div>
</section>
